@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    .slide-gradient {
        background: linear-gradient(270deg, #20a583, #1762b6);
        background-size: 400% 400%;

        -webkit-animation: AnimationName 35s ease infinite;
        -moz-animation: AnimationName 35s ease infinite;
        animation: AnimationName 35s ease infinite;
    }

    @-webkit-keyframes AnimationName {
        0% {
            background-position: 0% 77%
        }

        50% {
            background-position: 100% 24%
        }

        100% {
            background-position: 0% 77%
        }
    }

    @-moz-keyframes AnimationName {
        0% {
            background-position: 0% 77%
        }

        50% {
            background-position: 100% 24%
        }

        100% {
            background-position: 0% 77%
        }
    }

    @keyframes AnimationName {
        0% {
            background-position: 0% 77%
        }

        50% {
            background-position: 100% 24%
        }

        100% {
            background-position: 0% 77%
        }
    }
}